/*------------------------------------*\
    PAGE
\*------------------------------------*/
/**
 * Simple page setup, setting the font-size and line-height for the whole site;
 * forcing vertical scroll-bars to always be visible to prevent jumps when
 * navigating between pages; and making sure the page always fills the viewport.
 */

html {
    font-family: $sprout-base-font-family;
    font-size: ($sprout-base-font-size / 16px) * 1em;
    line-height: $sprout-base-line-height / $sprout-base-font-size;
    overflow-y: scroll;
    min-height: 100%;
}
