/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * Include the micro-clearfix in a selector:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 */

@mixin sprout-clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}