/*------------------------------------*\
    MEDIA-QUERY
\*------------------------------------*/
/**
 * Add media queries, with static breakpoints available for older browsers.
 */
$sprout-breakpoints: (
    xsmall:  null,
    small:   480px,
    medium:  720px,
    large:   980px,
    xlarge:  1300px,
) !default;

$sprout-static-breakpoint: large!default;
$sprout-media: screen!default;




/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’.
 */
@function get-breakpoint-size($breakpoint-name, $sizes: both, $breakpoints: $sprout-breakpoints) {
    $breakpoint-min: null;
    $breakpoint-max: null;

    @if map-has-key($breakpoints, $breakpoint-name) {
        $breakpoint-min: map-get($breakpoints, $breakpoint-name);

        @if $sizes == min {
            @return $breakpoint-min;
        }

        $breakpoint-names: map-keys($breakpoints);
        $max-index: index($breakpoint-names, $breakpoint-name) + 1;

        @if length($breakpoint-names) >= $max-index {
            $max-name: nth($breakpoint-names, $max-index);
            $breakpoint-max: map-get($breakpoints, $max-name) - 1;
        }

        @if $sizes == max {
            @return $breakpoint-max;
        }
    } @else {
        @error '`#{$breakpoint-name}` is not a valid breakpoint.';
    }

    @return (
        min: $breakpoint-min,
        max: $breakpoint-max,
    );
}

@mixin media-query($queries...) {
    @warn "The `media-query` mixin is deprecated. You should move over to using `mq` instead.";

    @include mq($queries...) {
        @content;
    }
}

@mixin mq($queries...) {
    $query-string: null;
    $old-return:   false;
    $count:        0;

    $static-widths: get-breakpoint-size($sprout-static-breakpoint);



    @each $query in $queries {

        $attribute: width;
        $media:     $sprout-media;
        $min:       null;
        $max:       null;
        $additional:'';

        @if type-of($query) == number {
            $min:       $query;
        } @else if type-of($query) == string {
            $query: get-breakpoint-size($query);
            $min:   map-get($query, min);
            $max:   map-get($query, max);

        } @else if type-of($query) == map {

            $additional: '';

            @each $property, $value in $query {
                @if $property == attribute {
                    $attribute: $value;
                } @else if $property == min {
                    $min: $value;
                } @else if $property == max {
                    $max: $value;
                } @else if $property == media {
                    $max: $value;
                } @else {
                    $additional: '#{$additional} and (#{$property}: #{$value})';
                }
            }

            $attribute: if(map-has-key($query, attribute), map-get($query, attribute), $attribute);
            $min:       if(map-has-key($query, min), map-get($query, min), $min);
            $max:       if(map-has-key($query, max), map-get($query, max), $max);
            $media:     if(map-has-key($query, media), map-get($query, media), $media);

            $min:       if(type-of($min) == string, get-breakpoint-size($min, min), $min);
            $max:       if(type-of($max) == string, get-breakpoint-size($max, max), $max);
        }

        $string: 'only #{$media}' +
                 if($max or $min, ' and ', '') +
                 if($min,'(min-#{$attribute}: #{em($min,16px)})','') +
                 if($min and $max, ' and ', '') +
                 if($max,'(max-#{$attribute}: #{em($max,16px)})','') +
                 $additional;

        @if $string != '' {
            @if $query-string == null {
                $query-string: $string;
            } @else {
                $query-string: append($query-string, $string, comma);
            }
        }

        @if $is-old-browser and ($min == null or (map-get($static-widths, min) != null and $min > map-get($static-widths, min))) and ($max == null or (map-get($static-widths, max) != null and $max < map-get($static-widths, max))) {
            $old-return: true;
        }
    }

    @if not $old-return and $query-string != null{

        @media #{$query-string} {
            @content;
        }

    } @else {

        @content;

    }
}