/*------------------------------------*\
    REM
\*------------------------------------*/
/**
 * Convert a px value into rems
 */

@function rem($value) {
    @if type-of($value) == number {

        @if unit($value) == '' {

            $value: $value * 1px;

        }

        @if unit($value) != 'px' {

            @error "`#{$value}` must be in pixels, or unitless.";

        }

    } @else {

        @error "`#{$value}` must be a number.";

    }

    @if $is-old-browser == true {

        @return $value;

    }

    @return $value / $sprout-base-font-size * 1rem;
}

/**
 * Create a declaration with a rem value.
 */
@mixin rem($property, $value) {
    #{$property}: rem($value);
}