/*------------------------------------*\
    BOX-SIZING
\*------------------------------------*/
/**
 * Shared styles for certain elements.
 *
 * Margins should always be declared in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
    margin-bottom: rem($sprout-spacing-unit);
}

dd, ol, ul {
    margin-left: rem($sprout-spacing-unit);
}