@if $sprout-enable-spacing {



$sprout-spacing-direction: (
    null,
    '-top',
    '-right',
    '-bottom',
    '-left',
);

$sprout-spacing-properties: (
    margin:  'm',
    padding: 'p',
);

$sprout-spacing-sizes: (
    null       : $sprout-spacing-unit,
    '--small'  : $sprout-spacing-unit--small,
    '--large'  : $sprout-spacing-unit--large,
    '--none'   : 0px,
)!default;

@each $property, $class in $sprout-spacing-properties {
    @each $direction in $sprout-spacing-direction {
        @each $size, $value in $sprout-spacing-sizes {

            .#{$class}#{$direction}#{$size} {
                #{$property}#{$direction}: rem($value)!important;
            }

        }
    }
}



}