/*------------------------------------*\
    BLOCK
\*------------------------------------*/
/**
 * Stacked image with text.
 *
    <figure class="block">
        <img src="//placehold.it/256x256" class="block__img" alt="" title="">

        <figcaption class="block__body">
            Lorem Ipsum Dolor Sit Amet
        </figcaption>
    </figure>
 *
 */
@if $sprout-enable-block {




.block {
    display: block;
    text-align: center;

    &__img { margin-bottom: rem($sprout-spacing-unit); }
    &__body { display: block; }

    /* Spacing variants */
    &--flush &__img  { margin-bottom: 0; }

    &--xsmall &__img { margin-bottom: rem($sprout-spacing-unit--xsmall); }
    &--small  &__img { margin-bottom: rem($sprout-spacing-unit--small); }
    &--large  &__img { margin-bottom: rem($sprout-spacing-unit--large); }
    &--xlarge &__img { margin-bottom: rem($sprout-spacing-unit--xlarge); }


    /* Alignment variants */
    &--right { text-align: right; }
    &--left { text-align: left;  }
}




}