/*------------------------------------*\
    BOX
\*------------------------------------*/
/**
 * Simply boxes off content. Can be extended with cosmetic styles.
 */
@if $sprout-enable-box {




.box {
    @include sprout-clearfix;
    display: block;
    padding: rem($sprout-spacing-unit);

    > :last-child { margin-bottom: 0; }

    /* Spacing variants */

    &--flush  { padding: 0; }

    &--xsmall { padding: rem($sprout-spacing-unit--xsmall); }
    &--small  { padding: rem($sprout-spacing-unit--small); }
    &--large  { padding: rem($sprout-spacing-unit--large); }
    &--xlarge { padding: rem($sprout-spacing-unit--xlarge); }
}




}