/*------------------------------------*\
    BLOCK
\*------------------------------------*/
/**
 * Display media (usually images) cropped to certain ratios.
 */
$sprout-crop: (
    4:3,
    16:9,
)!default;

@if $sprout-enable-crop {




.crop {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        max-width: none;

        &--right {
            right: 0;
            left: auto;
        }

        &--bottom {
            top: auto;
            bottom: 0;
        }

        &--center {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}




/* Size variants */
@each $antecedent, $consequent in $sprout-crop {

    @if (type-of($antecedent) != number) {
        @error "`#{$antecedent}` must be a number."
    }

    @if (type-of($consequent) != number) {
        @error "`#{$consequent}` must be a number."
    }

    .crop--#{$antecedent}-#{$consequent}::before {
        padding-bottom: ($consequent/$antecedent) * 100%;
    }
}




}