/*------------------------------------*\
    LIST--INLINE
\*------------------------------------*/
/**
 * Displays a list in one line.
 */
$sprout-list-inline-delimiter: ',\00AO'!default;

@if $sprout-enable-list--inline {




.list--inline {
    margin-left: 0;
    list-style: none;

    & > &__item { display: inline-block; }


    /* Delimited list */
    &--delimited > &__item::before {
        content: '#{$sprout-list-inline-delimiter}';
    }
}




}