/*------------------------------------*\
    MEDIA
\*------------------------------------*/
/**
 * Place image- and text-like content side-by-side.
 *
    <figure class="media">
        <div class="media__img">
            <img src="//placehold.it/256x256" alt="" title="">
        </div>

        <figcaption class="media__body">
            Lorem ipsum dolor sit amet.
        </figcaption>
    </figure>
 *
 */

@if $sprout-enable-media {




.media {
    width: 100%;
    display: flex;
    align-items: flex-start;

    &__img {
        flex: 0 0 auto;
        margin-right: rem($sprout-spacing-unit);
    }

    &__body {
        flex: 0 1 auto;

        &,
        & > :last-child { margin-bottom: 0; }
    }




    /* Reversed media object */
    &--reverse {
        flex-flow: row-reverse;

        & > .flag__img {
            margin-right: 0 !important;
            margin-left: rem($sprout-spacing-unit);
        }
    }




    /* Position variants */
    &--middle { align-items: center; }
    &--bottom { align-items: flex-end; }




    /* Spacing variants */
    &--flush > &__img {
        margin-left: 0;
        margin-right: 0;
    }

    &--xsmall > &__img {              margin-right: rem($sprout-spacing-unit--xsmall); }
    &--xsmall#{&}--reverse > &__img { margin-left:  rem($sprout-spacing-unit--xsmall); }

    &--small > &__img {              margin-right: rem($sprout-spacing-unit--small); }
    &--small#{&}--reverse > &__img { margin-left:  rem($sprout-spacing-unit--small); }

    &--large > &__img {              margin-right: rem($sprout-spacing-unit--large); }
    &--large#{&}--reverse > &__img { margin-left:  rem($sprout-spacing-unit--large); }

    &--xlarge > &__img {              margin-right: rem($sprout-spacing-unit--xlarge); }
    &--xlarge#{&}--reverse > &__img { margin-left:  rem($sprout-spacing-unit--xlarge); }
}



}