/*------------------------------------*\
    CENTERED
\*------------------------------------*/
/**
 * Page-level, centered elements.
 */

$sprout-wrapper-sizes: (
    null:        1280px,
    '--xnarrow': 640px,
    '--narrow':  960px,
    '--wide':    1440px,
    '--xwide':   1920px,
)!default;

$sprout-wrapper-gutters: (
    null: (
        (max: small) : $sprout-spacing-unit--small,
        (min: medium) : $sprout-spacing-unit
    ),
    '--small': (
        (max: small) : $sprout-spacing-unit--xsmall,
        (min: medium) : $sprout-spacing-unit--small
    ),
    '--large': (
        (max: small) : $sprout-spacing-unit,
        (min: medium) : $sprout-spacing-unit--large
    )
)!default;

@if $sprout-enable-wrap {






.wrap {
    //@include sprout-clearfix;
    margin-right: auto;
    margin-left:  auto;
    box-sizing: content-box;



    @each $size, $value in $sprout-wrapper-gutters {
        &#{$size} {

            @if type-of($value) == map {

                @each $query, $value in $value {

                    @include mq($query) {
                        padding-left:  rem($value);
                        padding-right: rem($value);
                    }
                }

            } @else {

                padding-left:  rem($value);
                padding-right: rem($value);

            }
        }
    }


    /* Size variants */
    @each $size, $value in $sprout-wrapper-sizes {
        &#{$size} { max-width: rem($value); }
    }
}

@supports (padding: env(safe-area-inset-left)) {
    .wrap {

        @each $size, $value in $sprout-wrapper-gutters {
            &#{$size} {

                @if type-of($value) == map {

                    @each $query, $value in $value {

                        @include mq($query) {
                            padding-left:  calc(#{rem($value)} + env(safe-area-inset-left));
                            padding-right: calc(#{rem($value)} + env(safe-area-inset-right));
                        }
                    }

                } @else {

                    padding-left:  calc(#{rem($value)} + env(safe-area-inset-left));
                    padding-right: calc(#{rem($value)} + env(safe-area-inset-right));

                }
            }
        }
    }
}



} // @endif